<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
		<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/webuploader.css" />
		<script src="__PUBLIC__/webuploader.js"></script>		
		<style>
			.form{padding:10px;border:1px solid #ccc;margin:20px auto;}
			.form h2{font-size:21px;color:#333}
			#fileList{width:110px}
			#fileList img{margin:0}
		</style>
	</head>
	<body>
		<div class="form" style="width:30%">
			<h2>轮播添加</h2><a href="{:U('Slider/index')}">查看列表</a>
			<form action="{:U('addSliderHandler')}" method="post" enctype="multipart/form-data">
			  <div class="form-group">
			    <label for="exampleInputEmail1">图片名称</label>
			    <input type="text" class="form-control" placeholder="name" name="name" value="{$data['name']}">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">url</label>
			    <input type="text" class="form-control" placeholder="info" name="url" value="{$data['url']}">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">sort</label>
			    <input type="text" class="form-control" placeholder="sort" name="sort" value="{$data['sort']}">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">添加slider</label>
			    <!--<input type="file" class="form-control" name="file[]" multiple>-->
			    
			    	
			    	<!--<div><button class="btn btn-danger">重新上传</button></div>-->
			   	<if condition="$data['img']">
			   		<div><img width="60" height="60" src="__UPLOADS__{$data['img']}"></div>
			   	<else />
				    <div id="uploader-demo">
					    <!--用来存放item-->
					    <div id="fileList" class="uploader-list"></div>
					    <div id="filePicker">选择图片</div>
					</div>
				</if>
			  </div>
			  <input type="submit" class="btn btn-primary" value="确认添加" id="sub">
			</form>
		</div>
		<script>
			// 初始化Web Uploader
			$list=$("#fileList");
			var uploader = WebUploader.create({
			    // 选完文件后，是否自动上传。
			    auto: true,
			    // swf文件路径
			    swf: '__PUBLIC__/Uploader.swf',
			    // 文件接收服务端。
			    server: '{:U("Slider/Upload")}',
			
			    // 选择文件的按钮。可选。
			    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
			    pick: {
			    	id: '#filePicker',
	                name:"file",  //这个地方 name 没什么用，虽然打开调试器，input的名字确实改过来了。但是提交到后台取不到文件。如果想自定义file的name属性，还是要和fileVal 配合使用。
	                label: '点击选择图片',
	                multiple:false   
			    },
			
			    // 只允许选择图片文件。
			    accept: {
			        title: 'Images',
			        extensions: 'gif,jpg,jpeg,png',
			        mimeTypes: 'image/*'
			    }
			});
			// 当有文件添加进来的时候
			uploader.on( 'fileQueued', function( file ) {
			    var $li = $(
			            '<div id="' + file.id + '" class="file-item thumbnail">' +
			                '<img>' +
			                '<div class="info">' + file.name + '</div>' +
			            '</div>'
			            ),
			        $img = $li.find('img');
			
			
			    // $list为容器jQuery实例
			    $list.append( $li );
			
			    // 创建缩略图
			    // 如果为非图片文件，可以不用调用此方法。
			    // thumbnailWidth x thumbnailHeight 为 100 x 100
			    uploader.makeThumb( file, function( error, src ) {
			        if ( error ) {
			            $img.replaceWith('<span>不能预览</span>');
			            return;
			        }
			
			        $img.attr( 'src', src );
			    }, 100, 100 );
			});
			// 文件上传过程中创建进度条实时显示。
			uploader.on( 'uploadProgress', function( file, percentage ) {
			    var $li = $( '#'+file.id ),
			        $percent = $li.find('.progress span');
			
			    // 避免重复创建
			    if ( !$percent.length ) {
			        $percent = $('<p class="progress"><span></span></p>')
			                .appendTo( $li )
			                .find('span');
			    }
			
			    $percent.css( 'width', percentage * 100 + '%' );
			});
			
			// 文件上传成功，给item添加成功class, 用样式标记上传成功。
			uploader.on( 'uploadSuccess', function( file ,rep) {
				var el=document.createElement("input");
				el.type="hidden";
				el.value=rep.file.savename;
				el.name="img";
				$("#sub").before($(el));
			    $( '#'+file.id ).addClass('upload-state-done');
			    $("input[type=file]")[0].disabled=true;
			    $("#filePicker").hide();
			});
			
			// 文件上传失败，显示上传出错。
			uploader.on( 'uploadError', function( file ) {
			    var $li = $( '#'+file.id ),
			        $error = $li.find('div.error');
			
			    // 避免重复创建
			    if ( !$error.length ) {
			        $error = $('<div class="error"></div>').appendTo( $li );
			    }
			
			    $error.text('上传失败');
			});
			
			// 完成上传完了，成功或者失败，先删除进度条。
			uploader.on( 'uploadComplete', function( file ) {
			    $( '#'+file.id ).find('.progress').remove();
			});
		</script>
	</body>
</html>
