<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
		<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
		<style>
			.list{padding:15px;width:900px;display: block;margin:30px auto;border:1px solid #ddd;}
			
		</style>
	</head>
	<body>
		<div class="list">
			<h2 style="font-size:21px;">轮播列表</h2>
			<a href="">添加轮播</a>
			<div class="table-responsive">
			  <table class="table">
			    <tr>
			    	<th>id</th>
			    	<th>name</th>
			    	<th>url</th>
			    	<th>sort</th>
			    	<th>img</th>
			    </tr>
			    
			    <tr>
			    	<td>1</td>
			    	<td>sd</td>
			    	<td>25</td>
			    	<td><input type="text" value="1" /></td>
			    	<td>54</td>
			    </tr>
			   
			  </table>
			</div>
		</div>
	</body>
</html>
